@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.hidden{
    display: none!important;


}

body{
    background-color: rgb(34, 34, 34);
    color: white;
}

#ktsMainDiv{
    background-color: rgb(53, 47, 68); border-radius: 30px; display: flex; align-items: center; flex-direction: column;

}
#ProjectsMaindiv{
    background-color: rgb(53, 47, 68); border-radius: 30px; display: flex; align-items: center; flex-direction: column; padding: 20px;
}
#AboutMainDiv{
    background-color: rgb(53, 47, 68); border-radius: 30px; display: flex; align-items: center; flex-direction: column;

}

.nav-bar-items2 svg path:nth-child(4){
    fill: white;
    
    
}





.nav-bar-for-large-screens{
   
    width: 98vw;
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content: space-evenly;
   
}
#logo{
    font-family: "Montserrat";
   width: 60px;
   height: 60px;
    font-size: 25px;
    color: white;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border: 1px solid white;
}
#nav-left-items{
    /* background-color: yellow; */
    width: 450px;
    display: flex;
    justify-content: space-between;
}


.nav-bar-items a{
    font-family: "Montserrat";
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 500;
    padding: 7px 13px;
    border-radius: 10px;
    
}
.nav-bar-items a:hover{
    color: cornflowerblue;
    background-color: rgba(203, 203, 203, 0.175);
    
}
.custombutton1:hover{
    color: cornflowerblue;
    
    
}
.nav-bar-items .active{
    background-color:white;
    
    color: black;
    padding: 7px 13px;
    border-radius: 10px;
}
.nav-bar-items .active:hover{
    background-color: white;
    
    color: cornflowerblue;
  
}
#nav-right-items{
    width: 260px;
    /* background-color: red; */
    display:flex;
    justify-content: space-between;
    
   

}

.nav-bar-items2{
    padding: 8px 10px;
    border-radius: 50%;
}
.nav-bar-items2 img{
    height:22px;
    
    
}
.nav-bar-items2:hover{
    background-color: rgba(207, 207, 207, 0.701);


}
.body{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

}
.body #devPic{
   width: 35%;
}
.content{
    /* background-color: red; */
    width: 520px;
}
#devName{
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 700;
}
#devHobbies{
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 500;
    
}
#devDescription{
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
    line-height:25px;

}
.gap{
    height: 15px;
}
.row{
    display: flex;
    align-items:center;
    gap: 10px;
  
}
.custombutton1{
    font-family: "Montserrat";
    font-size: 18px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 13px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-weight: 500;
    
}
.custombutton2{
    text-decoration: none;
    font-family: "Montserrat";
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 13px;
    border-radius: 10px;
}
.custombutton2:hover{
    /* color: cornflowerblue; */
    background-color: rgba(222, 222, 222, 0.323);
    

}
.custombutton1 img{
    
    height: 25px;
    /* background-color: yellow; */
    /* stroke: white;
    color: white; */
}
#ktsBody{
    



    padding: 40px;
    display: flex;
    flex-wrap: wrap;
   
    justify-content: center;
    column-gap: 50px;
    row-gap: 50px;
    width: 80vw;
    /* background-color: red; */
}
.ktsContainer{
    height: 200px;
    width: 160px;
    border: 2px solid white;
    border-radius: 30px;
    background-color: rgb(34, 34, 34);
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 10px 10px;

    

}
.ktsContainer:hover{
    transition-duration: 200ms;
    transform: scale(105%);
    box-shadow: 12px 12px;
    
}
.ktsContainer img{
   
    display: block;
    align-self: center;
    width: 80%;
    height: 60%;
   
}
.techType{
    font-family: "Montserrat";
    color: rgb( 233, 30,99);
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}
.tech{
   
    font-family: "Montserrat";
    font-size: 23px;
    font-weight: 700;
}

.ProjectContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.ProjectType{
    font-family: "Montserrat";
    color: rgb( 233, 30,99);
    font-size: 17px;
    font-weight: 500;
}
.ProjectTitle{
   
    font-family: "Montserrat";
    font-size: 23px;
    font-weight: 700;
}
.ProjectDescription{
   
    font-family: "Montserrat";
    font-size: 15px;
    /* font-weight: 700; */
}
.title{
    align-self: flex-start;
    font-family: "Montserrat";
    font-size:40px;
    font-weight: bold;
    margin: 20px 30px;

}
.About-Course{
    font-family: "Montserrat";
    font-size:25px;
    font-weight: bold;
    margin-bottom: 20px;

}
.About-Course-Duration{
    font-family: "Montserrat";
    font-size:18px;
    margin-bottom: 10px;
    

}
.About-Course-Description{
    font-family: "Montserrat";
    font-size:18px;
    font-weight: 500;
    margin-bottom: 10px;

}
.About-Course-Location{
    font-family: "Montserrat";
    font-size:18px;
    margin-bottom: 20px;
  

}
.nav-bar-for-small-medium-screens{
    display: none;
}
dialog[open]{
    display: none;
}



.ProjectsContainer{
    height: 250px;
    width: 40%;
    max-width: 570px;
    border: 2px solid white;
    border-radius: 30px;
    background-color: rgb(34, 34, 34);
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    
    justify-content: space-around;
    box-shadow: 10px 10px;

    

}
.ProjectsContainer img{
   
    display: block;
    align-self: self-start;
    width: 30%;
    height: 100%;
   
}

.ProjectsContainer .nav-bar-items2 img{
   height: 30px;
   width: 30px;
}

.custombuttonSmall{
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 8px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;

}
.custombuttonSmall:hover{
    color: cornflowerblue;
    

}


@media only screen and (max-width: 550px) {
    .body #devPic{
        width: 80%;
        max-width: 300px;
       
     }
     .title{
        font-size: 25px;
    }
     .body{
        /* height: 90vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;
        /* justify-content: center;
        align-items: center;
        vertical-align: middle; */
    
    }
    .nav-bar-for-large-screens{
        display: none;
    }
    .nav-bar-for-small-medium-screens{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 10px 0px 0px;
    }
    .content{
        /* background-color: red; */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #devName{
        font-family: "Montserrat";
        font-size: 23px;
        font-weight: 700;
    }
    #devHobbies{
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 500;
        
    }
    #devDescription{
        font-family: "Montserrat";
        font-size: 13px;
        font-weight: 500;
        line-height:20px;
        text-align: center;
    
    }
    #logo{
        font-family: "Montserrat";
       width: 40px;
       height: 40px;
        font-size: 18px;
        color: white;
        background-color: black;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
    }
    dialog[open] {
    
        display: flex;
        width: 80%;
        max-width: 300px;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        border-radius: 10px;
        padding: 20px;
        backdrop-filter: blur(40px);
        background-color: rgba(0, 0, 0, 0.344);
        border: 0px ;
        animation: myFadeIn 1s ease normal;
    
    
    }
    @keyframes myFadeIn{
        0% { transform:scale(100%); }
        10% { transform:scale(70%); }
        20% { transform:scale(100%); }
        30% { transform:scale(95%); }
        40% { transform:scale(100%); }
    
      }
    dialog[open]::backdrop{
        backdrop-filter: blur(5px);

    }

    #nav-bar-header-for-Dialog{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #nav-bar-title-for-Dialog{
        font-family: "Montserrat";
        font-size: 17px;
        font-weight: bold;
        color: white;
    
    }
    



    .custombutton1{
        font-family: "Montserrat";
        font-size: 16px;
        text-decoration: none;
        color: black;
        background-color: white;
        padding: 12px 12px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        /* font-weight: 500; */
        
        
    }
    .custombutton1 img{
    
        height: 19px;
        /* stroke: white;
        color: white; */
    }
    .custombutton2{
        text-decoration: none;
        font-family: "Montserrat";
        color: white;
        font-weight: 500;
        font-size: 16px;
        padding: 12px 12px;
        border-radius: 10px;
    }
    #nav-right-items{
        width: 220px;
        /* background-color: red; */
        display:flex;
        justify-content: space-between;
        
       
    
    }
    .nav-bar-items2 img{
        height:20px;
        
        
    }
    .nav-bar-items a{
        font-family: "Montserrat";
        text-decoration: none;
        font-size: 16px;
        color: white;
        font-weight: 500;
        padding: 7px 13px;
        border-radius: 10px;
        
    }
    .ProjectsContainer{
        width: 100%;
        height: 400px;
        flex-direction: column;
    }
    .ProjectsContainer img{
        width: 100%;
        height: 30%;
    }
    .ProjectsContainer .nav-bar-items2 img{
        height: 25px;
        width: 25px;
    }
    .row{
        
        gap: 0px;
      
    }
    #Ham{
        font-size: 30px;
        padding: 5px;
        
    }
    #Ham:hover{
        background-color: rgba(222, 222, 222, 0.305);
        border-radius: 50%;
        cursor: pointer;

        
    }
    #close{
        
        padding: 5px;
        color: white;
        
    }
    #close:hover{
        background-color: rgba(222, 222, 222, 0.292);
        border-radius: 50%;
        cursor: pointer;

        
    }
    



}




@media only screen and (min-width: 551px) and (max-width: 950px){
    .body #devPic{
        width: 0;
     }
    
    .nav-bar-for-large-screens{
        display: none;
    }
    
    .nav-bar-for-small-medium-screens{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .content{
        /* background-color: red; */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #devName{
        font-family: "Montserrat";
        font-size: 40px;
        font-weight: 700;
    }
    #devHobbies{
        font-family: "Montserrat";
        font-size: 25px;
        font-weight: 500;
        
    }
    #devDescription{
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 500;
        line-height:25px;
        text-align: center;
    
    }
    #logo{
        font-family: "Montserrat";
       width: 40px;
       height: 40px;
        font-size: 20px;
        color: white;
        background-color: black;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
    }
    dialog[open] {
    
        display: flex;
        width: 50%;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        border-radius: 10px;
        padding: 20px;
        backdrop-filter: blur(40px);
        animation: myFadeIn 1s ease normal;
        background-color: rgba(0, 0, 0, 0.344);
        border: 0px;
    
    
    }
    dialog[open]::backdrop{
        backdrop-filter: blur(5px);

    }
    @keyframes myFadeIn{
        0% { transform:scale(100%); }
        10% { transform:scale(80%); }
        20% { transform:scale(100%); }
        30% { transform:scale(95%); }
        40% { transform:scale(100%); }
    
      }
    #nav-bar-header-for-Dialog{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #nav-bar-title-for-Dialog{
        font-family: "Montserrat";
        font-size: 17px;
        font-weight: bold;
        color: white;
    
    }
    .ProjectsContainer{
        min-width: 250px;
        width: 40%;
        height: 400px;
        flex-direction: column;
       
    }
    .ProjectsContainer img{
        width: 100%;
        height: 30%;
    }
    #Ham{
        font-size: 35px;
        padding: 5px;
        
    }
    #Ham:hover{
        background-color: rgba(222, 222, 222, 0.332);
        border-radius: 50%;

        
    }
    #close{
        
        padding: 5px;
        color: white;
        
    }
    #close:hover{
        background-color: rgba(222, 222, 222, 0.201);
        border-radius: 50%;
        cursor: pointer;

        
    }
   
    
}
